.categories__header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories__header h2{
    font-weight: 500;
    font-size: 2em;
    padding: 1em;
}
.categories__body, .categories__products{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}
.categories__body{
    flex-direction: column;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 1.5em;
    background-color: #f7f7f7;
    box-shadow: none;
    transition: background-color 1s;
    transition: box-shadow .5s;
}
.category:hover{
    cursor: pointer;
    background-color: #e2dbdb;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
}

.category__top{
    width: 20em;
    padding-bottom: 0;
    height: 20em;
    /* border: 1px solid red; */
}
.category__top img{
    /* border: 1px solid green; */
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}
.category__bottom{
    width: 20em ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 1em;
}
.category__bottom > p{
    font-size: 1.1em;
}

.category__bottom--prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}
.price{
    margin: auto .5em;
}
.oldPrice{
    color: rgba(0, 0, 0, .5);
    text-decoration: line-through;
}
.category__pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
}
.button{
    width: 50px !important; 
    height: 50px !important; 
    border-radius: 50% !important;
    background-color: #5d5d5d !important;
}
.arrow{
    color: white !important;
}
.arrow-separate{
    width: 50px;
    height: 5px;
    background-color: #5d5d5d;
    margin: auto 2em;
    border-radius: 40px;
}