.recipe__container{
    background: url('./../../assets/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    height: 600px;
    display: flex;
    align-items: center;
}
.recipe__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   grid-gap: 25px;
    margin: 0 0 0 110px;
}
/* .recipe__card{
    height: 400px;
    width: 400px;
    border: 2px solid green;
} */
.recipe__image{
    height: 400px;
    width: 350px;
    object-fit: cover;
}
