.testimonial__container{
    background-color: #f7f7f7;
    width: 90%;
    height: 500px;
    margin: auto;
    display: flex;
    
}
.testimonial__gallery{
    width: 50%;
}
.testimonial__testimony{
    width: 50%;
}
.testimonial__img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.testimonial__title{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin: 40px 0 20px 0;
    
  
}
.testimonial__border{
    width: 100px;
    border-bottom: 2px solid #000;
    margin: auto;
    margin-bottom: 40px;
}
.gallery__container{
   
}
.gallery__card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.gallery__image{
    width: 100px;
    height: 100px;
}