.hero_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid lightcoral; */
    background-image: url('../../images/hero.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5em;
}
.hero_section--content{
    display: block;
    align-items: center;
    width: 35%;
    margin: 15em auto 7em 4em;
    /* border: 1px solid forestgreen; */
}
.hero_section--title{
    font-size: 3em;
    font-weight: 400;
    margin-bottom: .3em;
}
.hero_section--text{
    font-size: 1.4em;
    margin-bottom: 1.7em;
    color: rgba(0, 0, 0, .7);
}
.hero_section--button{
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    background-color: rgb(250, 185, 189);
    padding: .5em 1em;
    border: none;
    cursor: pointer;
    transition: background-color .5s;
}
.hero_section--button:hover{
    background-color: rgb(247, 127, 135);
}
.hero__pagination{
    display: flex;
    justify-content: space-between;
    width: 90px;
    padding-bottom: 1.5em;
}
.hero__pagination--before{
    width: 40px;
    height: 5px;
    background: rgb(250, 185, 189);
    cursor: pointer;
}
.hero__pagination--after{
    width: 40px;
    height: 5px;
    background: white;
    cursor: pointer;
}