.pageSeven {
	font-family: "Poppins", sans-serif;
}

.pageSeven__header {
	display: flex;
	justify-content: center;
	text-align: center;
	line-height: 0.1rem;
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.pageSeven__header::after {
	width: 80px;
	content: "";
	position: absolute;
	height: 3px;
	background-color: #000;
	margin-top: 2rem;
}

.pageSeven__first-item {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 2rem;
}

.pageSeven__first-item > * {
	flex: 0 0 200px;
	margin: 10px;
}

.first-item__content-img img {
	max-width: 320px;
	height: auto;
}

.first-item__content-date {
	padding-top: 1rem;
	font-size: smaller;
	font-weight: bolder;
}

.first-item__content-heading {
	padding: 0.5rem 0;
	font-weight: bolder;
}

.first-item__content-body {
	text-align: justify;
	word-wrap: break-word;
	max-width: 350px;
}

.pageSeven__second-item {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px;
}

.pageSeven__second-item > * {
	flex: 0 0 200px;
	margin: 10px;
}

.second-item__content-img img {
	max-width: 250px;
}