.pageSix {
	font-family: "Poppins", sans-serif;
	background-image: url("../../images/asset2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
}

.pageSix-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

.pageSix-content > * {
	flex: 1 1 350px;
	margin: 25px;
}

.pageSix-content__left {
	margin: 0 2rem 0;
	padding: 0;
}

.pageSix-content__left img {
	height: auto;
}

.pageSix-content__right {
	color: white;
}

.pageSix-content__right p {
	font-size: 0.9rem;
	line-height: 1rem;
	color: rgb(248, 239, 239) !important;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.pageSix-content__right-header {
	font-size: 1.5rem;
	line-height: 1rem;
	font-weight: 100;
	margin-top: 5rem;
}

.pageSix-content__right form {
	width: 100%;
}

.pageSix-content__right form input {
	background-color: #fabcbf;
	padding: 0.7rem 2rem;
	border-radius: 5px;
	color: rgb(248, 239, 239) !important;
	border: 0.5px solid rgb(248, 239, 239) !important;
	width: 48%;
}

.pageSix-content__right form button {
	background-color: #fa8c91;
	padding: 0.7rem;
	border-radius: 5px;
	color: rgb(248, 239, 239) !important;
	border: 0.5px solid rgb(248, 239, 239) !important;
	margin-left: 2rem;
	width: 25%;
}

.pageSix-content__right form input::placeholder {
	color: rgb(248, 239, 239) !important;
}

.pageSix-content__app-market {
	display: inline-block;
	margin-top: 3rem;
}

.pageSix-content__app-market span:nth-child(2) {
	margin-left: 2rem;
}

.pageSix-content__app-market span img {
	width: 135px;
	height: auto;
}

@media screen and (max-width: 1260px) {
	.pageSix {
		background-image: url("../../images/asset2a.png") !important;
	}
}

@media screen and (max-width: 1180px) {
	.pageSix {
		background-image: url("../../images/asset2b.png") !important;
	}

	.pageSix-content__left img {
		height: auto;
		max-width: 490px;
	}
}

@media screen and (max-width: 1100px) {
	.pageSix-content__left img {
		height: auto;
		max-width: 460px;
	}

	.pageSix-content__app-market {
		display: inline-block;
		margin-top: 2rem;
	}

	.pageSix-content__right p {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	.pageSix-content__right-header {
		margin-top: 2rem;
	}
}

@media screen and (max-width: 1000px) {
	.pageSix-content__left img {
		height: auto;
		max-width: 440px;
	}

	.pageSix {
		background-image: url("../../images/asset2d.png") !important;
	}

	.pageSix-content__right-header {
		margin-top: -1rem;
	}

	.pageSix-content__right p {
		width: 300px;
	}
}

@media screen and (max-width: 980px) {
	.pageSix {
		background-image: url("../../images/asset2d.png") !important;
	}

	.pageSix-content__right form {
		display: flex;
		flex-direction: column;
	}

	.pageSix-content__right form input {
		width: 75% !important;
		margin: 0;
	}

	.pageSix-content__right form button {
		margin: 1rem -0.1rem 0;
		width: 75% !important;
	}

	.pageSix-content__app-market {
		display: inline-block;
		margin-top: 1rem;
	}

	.pageSix-content__right p {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.pageSix-content__right-header {
		margin-top: 2rem;
	}
}

@media screen and (max-width: 904px) {
	.pageSix {
		background-image: url("../../images/asset2d.png") !important;
	}

	.pageSix-content__left img {
		height: auto;
		max-width: 420px;
	}

	.pageSix-content__right form {
		display: flex;
		flex-direction: column;
	}

	.pageSix-content__right form input {
		width: 75% !important;
		margin: 0;
	}

	.pageSix-content__right form button {
		margin: 1rem -0.1rem 0;
		width: 75% !important;
	}

	.pageSix-content__app-market {
		display: inline-block;
		margin-top: 1rem;
	}

	.pageSix-content__right p {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.pageSix-content__right-header {
		margin-top: 2rem;
	}
}

@media screen and (max-width: 885px) {
	.pageSix {
		background-image: url("../../images/asset2e.png") !important;
		background-size: auto;
	}

	.pageSix-content {
		display: flex;
		flex-wrap: wrap;
	}

	.pageSix-content__left {
		width: 100%;
		padding: 0;
		margin: 1rem auto 0;
	}

	.pageSix-content__left img {
		height: auto;
		margin: -5rem auto 0;
	}

	.pageSix-content__right {
		width: 100%;
		margin: -1rem auto 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.pageSix-content__right form {
		display: flex;
		flex-direction: column;
	}

	.pageSix-content__right form input {
		width: 75% !important;
		margin: 0;
	}

	.pageSix-content__right form button {
		margin: 1rem -0.1rem 0;
		width: 75% !important;
	}

	.pageSix-content__right-header,
	.pageSix-content__right p,
	.pageSix-content__app-market {
		margin-left: -8rem;
	}
}

@media screen and (max-width: 883px) {
	.pageSix {
		background-image: url("../../images/asset2c.png") !important;
		background-size: 90%;
	}
}

@media screen and (max-width: 840px) {
	.pageSix-content {
		display: flex;
		flex-direction: row;
	}

	.pageSix {
		font-family: "Poppins", sans-serif;
		background-image: url("../../images/asset2e.png") !important;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 90%;
	}

	.pageSix-content__left {
		width: 50%;
	}

	.pageSix-content__left img {
		height: auto;
		max-width: 380px;
	}

	.pageSix-content__right {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.pageSix-content__right form {
		display: flex;
		flex-direction: column;
	}

	.pageSix-content__right form input {
		width: 80% !important;
	}

	.pageSix-content__right form button {
		width: 80% !important;
	}
}

@media screen and (max-width: 800px) {
	.pageSix-content {
		display: flex;
		flex-direction: column;
	}

	.pageSix {
		font-family: "Poppins", sans-serif;
		background-image: url("../../images/asset2e.png") !important;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 90%;
	}

	.pageSix-content__left {
		width: 100%;
		margin-top: 5rem;
	}

	.pageSix-content__left img {
		height: auto;
		max-width: 230px;
	}

	.pageSix-content__right {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: -20rem 0 0;
	}

	.pageSix-content__right form {
		display: flex;
		flex-direction: column;
	}

	.pageSix-content__right form input {
		width: 300px !important;
		margin: 0 auto 0;
	}

	.pageSix-content__right form button {
		width: 300px !important;
		margin: 1rem auto 0;
	}

	.pageSix-content__app-market {
		display: inline-block;
		margin: 1rem auto 0;
	}

	.pageSix-content__right p {
		padding-bottom: 1rem;
		margin: 0 auto 0;
	}

	.pageSix-content__right-header {
		margin: -2rem auto 0;
	}
}

@media screen and (max-width: 662px) {
	.pageSix-content__left img {
		height: auto;
		max-width: 200px;
	}
	
	.pageSix {
		font-family: "Poppins", sans-serif;
		background-image: url("../../images/asset2e.png") !important;
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto;
	}
}

@media screen and (max-width: 555px) {
	.pageSix-content__left img {
		height: auto;
		max-width: 180px;
	}
	
	.pageSix {
		font-family: "Poppins", sans-serif;
		background-image: url("../../images/asset2e.png") !important;
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto;
	}
}