.header1{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: .65em 3.2em .65em 4.2em;
    color: whitesmoke;
    font-size: 1em;
    background-color: #fabcbf;
}
.header1__right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.header1__right--searchbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
}
.header1__right--icon{
    margin-right: .3em;
}
.header1__right--cart{
    display: flex;
    justify-content: center;
    align-items: center;
}


.header2{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid rebeccapurple; */
    color: whitesmoke;
    padding: 0 3.2em 0 4.2em;
    position: fixed;
    background-color: rgba(0, 0, 0, .88);
}
.header2__left{
    display: flex;
    justify-content: center;
    padding: 0.65em auto;
    /* border: 1px solid firebrick; */
}
.header2__left > h1{
    font-style: italic;
    font-weight: 900;
    font-size: 3em;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;
}
.header2__middle{
    display: flex;
    justify-content: center;
    padding-left: 9em;
    padding: 0.65em auto;
}
.header2__lists{
    list-style-type: none;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.header2__list{
    /* border: 1px solid green; */
    margin: auto 2em;
    height: 100%;
    padding: 1.6em .5em;
    font-size: 1.1em;
    cursor: pointer;
    background-color: transparent;
    transition: background-color .5s;
}
.header2__list:hover{
    text-decoration: underline;
    background-color: #8a5a5d;
}

.header2__right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    /* border: 1px solid darkgoldenrod; */
}
.header2__right--searchbox{
    display: flex;
    align-items: center;
}
.header2__right--input{
    /* border: 1px solid teal; */
    opacity: 0 !important;
    width: 1em;
    transition: opacity 2s ease-in-out;
    transition: width .5s ease-in-out;
}
.header2__right--searchbox:hover > .header2__right--input{
    opacity: 1 !important;
    width: 8.8em;
    color: whitesmoke;
    font-weight: 300;
    background-color: rgba(250,188,191, .8);
    border-radius: 5px;
    padding-left: 1em;
}
.header2__right--search{
    width: 60px !important;
    height: 40px !important;
    cursor: pointer;
    /* margin-right: 1em !important; */
    /* border: 1px solid khaki; */
}
.header2__right--cart{
    display: flex;
    align-items: center;
}

.header2__right--bag{
    /* border: 1px solid red; */
    margin-left: 15px;
    cursor: pointer;
    color: #fabcbf;
    width: 30px !important;
    height: 30px !important;
}
