
.buttons__flavour {
    /* height: 60px; */
    display: flex;
    list-style-type: none;
}


a {
    /* border: 2px solid #7768a5; */
    border-radius: 40%;
    /* color: #333; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    
}

a :hover{
    border: 3px solid #333;
    border-radius: 100%;
    /* color: #333; */
    display: inline-flex;
    /* align-items: center; */
    justify-content: center;
    /* margin-right: 10px; */
    /* height: 40px;
    width: 70px; */
    
    
}