@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
}


